.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65vh;
  text-align: center;
  align-items: center;
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.5s forwards;
}

@keyframes animeLeft {
  to {
    opacity: initial;
    transform: initial;
  }
}
img {
  width: 200px;
}

.hit {
  color: green;
  font-weight: bold;
  font-size: 1.5rem;
}

.mistake {
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
}

button span {
  color: white;
}
