.title {
  cursor: pointer;
  margin: 0.8rem 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divider {
  margin: 10px;
  width: 100%;
  background-color: grey;
}

@media (max-width: 768px) {
  .logo {
    width: 250px;
  }
  .title {
    max-width: 100%;
  }
}
